*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

button {
  margin: 0;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background: transparent;
  cursor: pointer;
}
