.title {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}

.underlined {
  display: inline-block;
  border-bottom: 1px solid black;
  text-decoration: none; 
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px;
}

.menu__list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.menu__link {
  font-weight: normal;
  font-size: 18px;
}

.menu__item-active {
  list-style: none;
}

.menu__link-active {
  text-decoration: none;
}

.logo__img.logo__img-black {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  z-index: 1;
  min-height: 757px;
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  flex-direction: column;
  padding: 165px 50px 108px;
  color: #FFFFFF;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.acent__title {
  display: block;
}

.cover__title-center {
  text-align: center;  
}

.cover__title-right {
  text-align: right;
}

.cover__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 50px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__subtitle {
  word-spacing: 18px;
}

.cover__button {
  border: 1px solid #FFFFFF;
  padding: 12px 32px;
  text-transform: uppercase;
}