.title {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}

.underlined {
  display: inline-block;
  border-bottom: 1px solid black;
  text-decoration: none; 
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px;
}

.menu__list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.menu__link {
  font-weight: normal;
  font-size: 18px;
}

.menu__item-active {
  list-style: none;
}

.menu__link-active {
  text-decoration: none;
}

.logo__img.logo__img-black {
  width: 148px;
  height: 105px;
}

